.catalog {
  width: 320px;
  margin: 0 auto 28px;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;
  z-index: 10;

  padding-top: 1px;
  padding-bottom: 25px;

  .wrap {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border: 1px solid #ededed;
  }
}

.catalog__item-image {
  display: block;
}

.catalog__item-wrapper {
  display: flex;
  width: 100%;
}

.catalog__info-wrapper {
  width: 100%;
  padding-top: 16px;
}

.catalog__item-link {
  flex-shrink: 0;
}

.catalog__item-title {
  width: 75px;
  margin: 0;
  margin-bottom: 2px;
}

.catalog__link-title {
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.catalog__item--add::after {
  content: "";

  position: absolute;
  bottom: 153px;
  left: 50%;

  width: 30px;
  height: 30px;

  background: url("../img/icon-plus-mobile.svg") center center no-repeat;
  background-size: 30px 30px;

  opacity: 0.2;

  transform: translateX(-50%);
}

.catalog__item--add .catalog__item-title {
  display: block;
  width: auto;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog__item--add .catalog__item-slogan {
  display: block;
  margin-bottom: 21px;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  font-weight: 400;
}

.catalog__item--add .wrap {
  padding-top: 79px;
}

@media (max-width: $mobile-width-only) {
  .catalog__item:not(:first-child) {
    margin-top: -1px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin-bottom: 37px;
    padding: 0 30px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 324px;
    min-height: 541px;
    margin-right: 60px;
    margin-bottom: 30px;
    padding-bottom: 40px;

    .wrap {
      justify-content: flex-end;
      align-items: center;
      padding: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &::before {
      top: 110px;
      z-index: -1;

      border: none;

      background-color: #f2f2f2;
    }
  }

  .catalog__item-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .catalog__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 37px 0 38px;
  }

  .catalog__item-link {
    margin-bottom: 31px;
  }

  .catalog__item-title {
    width: 150px;
    margin-bottom: 11px;

    text-align: center;
  }

  .catalog__link-title {
    font-size: 20px;
  }

  .catalog__button {
    width: 77%;
  }

  .catalog__item--add::before {
    bottom: -1px;

    border: 1px solid #e6e6e6;

    background-color: #ffffff;
  }

  .catalog__item--add::after {
    bottom: 316px;

    width: 60px;
    height: 60px;

    background-image: url("../img/icon-plus.svg");
    background-size: 60px 60px;
  }

  .catalog__item--add .catalog__item-title {
    width: 150px;
    margin-bottom: 28px;

    font-size: 20px;
    text-align: center;
  }

  .catalog__item--add .catalog__item-slogan {
    width: 170px;
    margin-bottom: 87px;

    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1300px;
    margin-bottom: 42px;
    padding: 0 40px;
  }

  .catalog__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 33px;

    .wrap {
      padding: 0;
    }

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__item-link {
    margin-bottom: 13px;
  }

  .catalog__info-wrapper {
    padding: 16px 38px 0;
  }

  .catalog__button {
    width: 69%;
  }

  .catalog__item--add::before {
    border-color: #e7e7e7;
  }
}
