.comments {
  position: relative;

  margin-bottom: 28px;
  padding-top: 59px;

  &::before {
    content: "";

    position: absolute;
    top: 14px;

    width: 100%;
    min-width: 320px;
    height: 3px;

    background-color: #68b738;
  }
}

.comments__title {
  position: absolute;
  top: 0;
  left: calc((100% - 320px) / 2);

  display: inline-block;
  margin: 0;
  padding-right: 22px;
  padding-left: 19px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  background-color: #ffffff;

  vertical-align: top;
}

.comments__message {
  display: block;
  width: 280px;
  height: 150px;
  margin: 0 auto;
  padding-right: 12px;
  padding-bottom: 10px;

  resize: none;
  overflow: auto;
}

@media (min-width: $tablet-width) {
  .comments {
    margin-bottom: 65px;
    padding-top: 112px;

    &::before {
      top: 22px;
    }
  }

  .comments__title {
    left: calc((100% - 768px) / 2 + 28px);

    padding-right: 42px;
    padding-left: 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .comments__message {
    width: 630px;
    height: 174px;

    line-height: 30px;

    &::placeholder {
      line-height: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comments {
    position: relative;

    margin-bottom: 67px;
    padding-top: 112px;

    &::before {
      content: "";

      position: absolute;
      top: 22px;

      width: 100%;
      min-width: 1300px;
      height: 3px;

      background-color: #68b738;
    }
  }

  .comments__title {
    position: absolute;
    top: 0;
    left: calc((100% - 1300px) / 2);

    display: inline-block;
    padding: 0 40px;

    background-color: #ffffff;

    vertical-align: top;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .comments__message {
    width: 1220px;
  }
}
