.concept {
  width: 320px;
  margin: 0 auto;
}

.concept__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.concept__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.concept__item {
  margin-bottom: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 80px;
}

.concept__description {
  margin: 0;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  & br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .concept {
    min-height: 750px + 1px;
    width: 768px;

    .wrap {
      width: 768px;
      padding-top: 14px;
    }
  }

  .concept__title {
    margin-bottom: 71px;

    font-size: 60px;
    line-height: 60px;
  }

  .concept__list {
    display: flex;
    flex-wrap: wrap;
  }

  .concept__item {
    width: 250px;
    margin-right: 134px;
    margin-bottom: 132px;
    padding-top: 113px;
    padding-left: 0;
    padding-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .concept__description {
    font-size: 16px;
    line-height: 24px;

    & br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .concept {
    min-height: 410px;
    width: 1300px;
  }
}
