.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 16px;
  border-top: 1px solid #d9d9d9;

  &:hover path {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .copyright {
    border: none;
  }

  .copyright__name {
    padding-right: 15px;
  }
}
