.index-promo {
  position: relative;

  width: 320px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 22px;

  background-color: #ffffff;

  &::before {
    content: "";

    position: absolute;
    top: 0;

    width: 100%;
    height: 305px;

    background: url("../img/index-background-mobile@1x.jpg") center top no-repeat, #68b738;
    background-size: 320px 100%, 100%;
  }
}

@media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
  .index-promo::before {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.index-promo__title {
  position: relative;
  z-index: 2;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.index-promo__slogan {
  position: relative;
  z-index: 2;

  margin: 0;
  margin-bottom: 28px;

  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.index-promo__image {
  position: relative;
  z-index: 2;

  display: block;
  margin-bottom: 3px;
}

@media (min-width: $tablet-width) {
  .index-promo {
    width: 768px;
    padding-top: 0;
    padding-bottom: 0;

    &::before {
      background: none;
    }

    .wrap {
      padding-top: 40px;
    }
  }

  .index-promo__title {
    width: 510px;
    margin-bottom: 41px;
    padding-left: 87px;

    color: #111111;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  .index-promo__slogan {
    margin-bottom: 20px;
    padding-left: 88px;

    color: #111111;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .index-promo__image {
    width: 709px;
    height: 609px;
    margin-bottom: 0;
  }

  .index-promo__link {
    position: absolute;
    top: 269px;
    left: 119px;
    z-index: 5;

    display: block;
    width: 245px;
    padding: 15px 28px 17px 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .index-promo {
    width: 1300px;
    min-height: 636px; // временно

    .wrap {
      padding-top: 82px;
    }

    &::before {
      top: -140px;
      left: 50%;

      width: 650px;
      height: 696px;

      background: url("../img/index-background-desktop@1x.jpg") left top no-repeat, #68b738;
      background-size: cover;
    }
  }

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    .index-promo::before {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .index-promo__title {
    padding-left: 81px;
  }

  .index-promo__slogan {
    padding-left: 81px;
  }

  .index-promo__link {
    top: 316px;
    left: 120px;
  }

  .index-promo__image {
    position: absolute;
    top: 2px;
    left: 490px;

    width: 552px;
    height: 499px;
  }
}
