.promo {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 0 0;

  background-color: #f2f2f2;
}

.promo__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.promo__description {
  margin: 0;
  margin-bottom: 22px;

  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.promo__description br {
  display: none;
}

.promo__link {
  display: block;
  padding-top: 16px;
  padding-left: 0;
  padding-bottom: 17px;
  border-top: 1px solid #d9d9d9;

  color: #111111;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    width: 708px;
    min-height: 372px; //временно
    margin-bottom: 30px;
    padding-top: 75px;
  }

  .promo > .wrap {
    padding: 0 52px;
  }

  .promo__title {
    margin-bottom: 27px;
    padding-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .promo__description {
    width: 380px;
    margin-bottom: 39px;

    font-size: 16px;
    line-height: 24px;

    br {
      display: inline;
    }
  }

  .promo__link {
    width: 40%;
    border: none;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    width: 570px;
    margin: 0;
    padding-top: 76px;
  }

  .promo__title {
    margin-bottom: 74px;
    padding-left: 162px;
  }

  .promo__description {
    width: 470px;
    margin-bottom: 15px;

    br {
      display: none;
    }
  }
}
