.social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 18px;

  list-style: none;
}

.social__item {
  min-width: 22px;
  margin-right: 33px;

  text-align: center;

  &:last-child {
    margin-right: 0;
  }
}

.social__icon {
  fill: #666666;
}

.social__link {
  font-size: 0;

  &:hover .social__icon {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
  }

  .social__item {
    width: 30px;
    margin-right: 21px;
  }

  .social__item--vk {
    height: 16px;

    svg {
      width: 30px;
      height: 16px;
    }
  }

  .social__item--insta {
    height: 23px;

    svg {
      width: 23px;
      height: 23px;
    }
  }

  .social__item--fb {
    height: 28px;

    svg {
      width: 14px;
      height: 28px;
    }
  }
}
