@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/index-promo.scss";
@import "blocks/promo.scss";
@import "blocks/concept.scss";
@import "blocks/footer.scss";
@import "blocks/catalog-main.scss";
@import "blocks/catalog.scss";
@import "blocks/button.scss";

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
}

a {
  text-decoration: none;
}

.wrap {
  width: 100%;
  max-width: 1260px;
  padding: 0 20px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
